<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <title>Magnesium Oxide</title>
    <meta content="Magnesium Oxide" property="og:title">
    <meta content="A highly secure, blazingly fast ShareX uploader coded in Rust utilizing Actix-Web and AES-256-GCM encryption." property="og:description">
    <meta content="https://mgo.li" property="og:url">
    <meta content="https://cdn.discordapp.com/icons/984852897051312159/a_183f9fa74d5350f499f414c97b890a12.gif?size=4096" property="og:image">
    <meta content="#FF5454" data-react-helmet="true" name="theme-color">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/671648d45a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/minstyle.io@2.0.1/dist/css/minstyle.io.min.css">
</head>

<body>
    <div class="container">
        <h1><i class="fas fa-atom"></i> Magnesium Oxide</h1>
        <p>
            This server is running <a href="https://github.com/magnesium-uploader/magnesium-oxide">Magnesium Oxide</a>
            (v{{version}})
        </p>
        <p>
            We are currently storing <strong>{{ total_files }} files</strong> and <strong>{{ total_size / 1024 / 1024 |
                round(method="ceil", precision=2) }} MB</strong> of data.
        </p>
        <div class="ms-btn-group">
            <a class="ms-btn" href="https://github.com/magnesium-uploader/magnesium-oxide">
                <i class="fab fa-github"></i>
                View on GitHub
            </a>
            <a class="ms-btn" href="https://discord.gg/UA9jNskDzK">
                <i class="fab fa-discord"></i>
                Join our Discord
            </a>
        </div>
    </div>
</body>

</html>